<div class="container">
  <nav class="pagination" role="pagination">
    <ul>
      {% if paginator.previous_page %}
        <p><a class="newer-posts" href="{{ site.baseurl }}{{ paginator.previous_page_path }}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></p>
      {% endif %}

      <p><span class="page-number">Page {{paginator.page}} of {{paginator.total_pages}}</span></p>

      {% if paginator.next_page %}
      <p><a class="older-posts" href="{{ site.baseurl }}{{ paginator.next_page_path }}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
      {% endif %}
    </ul>
  </nav>
</div>
